@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #69696a;
  background-color: #f9fafc;
}

.vertical-menu a.active {
  color: #000;
}
.vertical-menu a {
  display: block;
  text-decoration: none;
  color: #69696a;
  padding: 5px;
}

.header {
  color: #000;
}

p {
  border-left: 3px solid #69696a;
  padding-left: 10px;
}

.button a {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  display: inline-block;
  border-radius: 50px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .vertical-menu {
    display: flex;
    justify-content: space-between;
  }

  .vertical-menu a {
    display: inline;
  }
  .topright {
    display: flex;
    justify-content: space-evenly;
  }

  .stuff {
    margin-top: 100px;
  }
  .content p {
    width: 50%;
  }

  .button2 {
    position: absolute;
    bottom: 5%;
    left: 45%;
  }

  .button2 a {
    width: 150px;
  }

  .large {
    height: 200px;
    width: 200px;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    position: absolute;
    top: 15%;
    right: 10%;
  }
  .medium {
    height: 150px;
    width: 150px;
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 5%;
  }
  .small {
    height: 100px;
    width: 100px;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 50%;
    position: absolute;
    top: 20%;
    right: 5%;
  }
}
